body {
  font: 14px "Lucida Grande", Helvetica, "Comic Sans MS", Arial, sans-serif;
  /*background-image: url('../images/wheat.png');*/
  /*background-image: url('https://www.vecteezy.com/free-vector/candy-pattern');*/
  min-height: 100%;
  position: relative;
  opacity: 1;
  /*background-color: #e7e7f3;*/
  /*opacity: 1;*/
  /*background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e7e7f3 26px ), repeating-linear-gradient( #c7d9f155, #c7d9f1 );*/
  /*background-color: #000000;*/
  /*opacity: 0.8;*/
  /*background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 20px ), repeating-linear-gradient( #0711d855, #0711d8 );*/
  background-color: #D2691E;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #8183a9, #D2691E), repeating-radial-gradient(circle at center center, #8183a9, #8183a9, 20px, transparent 40px, transparent 20px);
  background-blend-mode: multiply;
}

html {
  height: 100%;
}

.link {
  margin: 10px;
}

.framka {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.form {
  max-width: 800px !important;
  margin-top: 30px;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  max-width: 400px;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#status {
  color: red;
}

#user {
  color: green;
}

#quantity {
  display: flex;
  justify-content: center;
}

.navbar-custom {
  display: flex;
  justify-content: space-around;
  background-color: #a36700 !important;
  /*background-color: #061d24 !important;*/
}

#nav-title {
  margin: 0;
}

.footer-custom {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: #a36700;
  /*background-color: #061d24;*/
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#col2 {
  text-align: right;
}

.footer-container {
  min-width: 76%;
  display: flex;
  justify-content: space-between;
}

.footer-link {
  color: #ffb645;
}

.footer-link:hover {
  color: #686969;
}
